{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <row>
            <h1 class="marginTop30">Email Confirmation</h1>
        </row>

        <row>
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success marginBottom30" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger marginBottom30" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </row>
    </div>
{% endblock %}