{% extends 'base.html.twig' %}

{% block title %}TrickSlider{% endblock %}

{% block body %}

    <div class="container">
        <h1>Email Confirmation</h1>
        <p>{{ message }}</p>

    </div>
{% endblock %}