<form method="post" action="{{ path('trick_delete', {'id': trick.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
    {% if deleteButton is defined %}
        <input type="submit" class="btn btn-danger" value="Delete">
    {% else %}
        <input type="image" src="{{ asset('/open-iconic-master/svg/trash.svg') }}" style="height:18px">
    {% endif %}
</form>