<!-- Footer -->
<footer class="py-5 bg-dark marginTop30">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <p class="m-0 text-center text-white">Copyright &copy; TrickSlider {{ "now"|date("Y") }}</p>
            </div>
            <div class="col-2"></div>

        </div>
    </div>
    <!-- /.container -->
</footer>