<!-- Header with Background Image -->

<header class="masthead">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="brand-heading">Trick Slider</h1>
                    <p class="intro-text">A collaborative snow tricks collection.</p>
                    <a href="#tricks" class="btn btn-circle js-scroll-trigger">
                        <span class="oi oi-chevron-bottom animated"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>