<div class="row marginTop30" id="moreBoxContainer">
    <div id="more" class="morebox">
        <a href="#" class="btn btn-primary more_tricks" id="{{ last_id }}" data-path="{{ path('load_more_tricks') }}" data-loader-gif="<img src='{{ asset('img/loader.gif') }}' />">Load more</a>
    </div>
</div>